.card {
    outline: 1px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: black 5px 5px 5px;
}
.link-area {
    color: rgba(8, 199, 119, 0.904);
    margin: 10px;
    list-style: none;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
h2{
    font-size: 2rem;
}
p{
    font-size:2rem
}